<div class="row g-4">
    {% for service in services %}
        <div class="col-lg-4 wow slideInUp" data-wow-delay="{{ ( (loop.index) * 2 + 1 ) / 10 }}s">
            <div class="blog-item bg-light rounded-5 shadow overflow-hidden">
                <div class="blog-img position-relative overflow-hidden">
                    <img class="img-fluid" src="{{ statics }}/images/services/{{ service.image }}" alt="">
                    <a class="position-absolute bottom-0 start-0 light-bg text-white rounded-end mb-3 py-2 px-4" href="">
                        {{ service.service }}
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>