body {
    font-family: Nunito, sans-serif !important;
}

/* MAIN MENU */
div.dropdown > ul > li > a {
    padding: 8px;
}

div.dropdown > ul > li > a.active {
    background-color: rgb(96 165 250) !important;
    color: white !important;
}

.hero-overlay {
    background-color: rgb(34 57 86 / 50%) !important;
}

/* TIME LINE */
.timeline-box {
    border: none !important;
}

.timeline-vertical .timeline-full {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    align-self: center;
    justify-self: center;
}
.timeline-vertical > li > hr {
    height: 1.3rem !important;
}

/* PRICE LABEL */
.price-label {
    position: absolute;
    bottom: 10px;
    right: -17px;
    background-color: #e17b1f;
    padding: 4px 12px 4px 15px;
    border-radius: 9px 0 2px 9px;
    color: #f3f39f;
    font-size: 17px;
    font-weight: 600;
}

.price-label::after {
    content: "";
    position: absolute;
    top: -8px;
    right: -8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid #c15e07;
    border-bottom: 8px solid transparent;
    
    transform: rotate(-180deg); /* Ajuste fino para la posición */
}

.price {
    background-color: #e17b1f;
    padding: 4px 12px 5px 15px;
    border-radius: 9px;
    color: #f3f39f;
    font-size: 18px;
    font-weight: 600;
}

.hero-content p.price-label {
    bottom: 15px;
    right: -0.5rem;
    font-size: 19px;
}

/* FOOTER */
.footer {
    padding: 40px 30px;
    margin-bottom: 0 !important;
}

.footer-header {
    text-align: right;
    padding-bottom: 9px;
    padding-right: 10px;
    border-bottom: 1px solid #FFFFFF;
}
.footer-item{
    display: inline-flex;
    padding: 12px 0;
}

.footer-icon{
    font-size: 25px;
}

.footer-text {
    padding: 5px;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.bg-kids {
    background-image: url('/background.png');
    background-position: center center;
    background-size: contain;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

div.modal-box {
    animation: slideUp 0.3s ease-out;
    transform: none;
}

.body-no-scroll {
    overflow: hidden;
}