# Environment variables declared in this file are automatically made available to Prisma.
# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
DATABASE_URL="PostgreSQL connection"

# Directories for local upload before sent to cloud storage
UPLOAD_ROOT="./public/"
PRODUCTS_LOCATION="images/products/"
CATEGORIES_LOCATION="images/categories/"

# Max file size (MB)
MAX_FILE_SIZE="SIZE"

# Allowed origins for cors
ALLOWED_ORIGINS="CORS_ALLOWED_ORIGINS"

# Supabase keys
ACCESS_KEY="SUPABASE_FILESTORAGE_ACCESS_KEY"
SECRET_KEY="SUPABASE_FILESTORAGE_SECRET_KEY"
S3_ENPOINT="SUPABASE_PUBLIC_S3_ENDPOINT"
S3_REGION="S3_REGION_NAME"
BUCKET_NAME="YOUR_BUCKET_NAME"

# JWToken parameters
JWT_ACCESS_SECRET="SECRET_KEY_FOR_ACCESS_TOKEN"
JWT_ACCESS_EXPIRES_IN="ACCESS_TOKEN_EXPIRATION_TIME"
JWT_REFRESH_SECRET="SECRET_KEY_FOR_REFRESH_TOKEN"
JWT_REFRESH_EXPIRES_IN="REFRESH_TOKEN_EXPIRATION_TIME"
JWT_REFRESH_REMEMBER_ME_EXPIRES_IN="ACCESS_TOKEN_EXPIRATION_TIME_WHEN_REMEMBER_ME"